.IA-Conversation {
  min-width: 2.75rem;
  display: flex;
  align-items: center;
  padding: 0.3rem 0.6rem 0.2rem 0.6rem;
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border-radius: 2rem;
  transition: all 0.3s ease;
  z-index: 1;
  overflow: hidden;
  transition: padding 0.5s ease;
}

.IA-Conversation::after {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
  backdrop-filter: blur(1px);
  opacity: 0.6;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}

.IA-Conversation:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.IA-Conversation-text {
  white-space: nowrap;

  opacity: 0;
  max-width: 0;
  transform: translateX(10px);

  transition:
    opacity 0.1s ease,
    max-width 0.3s ease,
    transform 0.3s ease;
}

.IA-Conversation:hover {
  padding: 0.3rem 0.9rem 0.2rem 0.9rem;
}

.IA-Conversation:hover .IA-Conversation-text {
  opacity: 1;
  margin-right: 0.5rem;
  max-width: 150px;
  transform: translateX(0);
}

.stop-button {
  background-color: rgb(255, 0, 0);
  box-shadow: 0px 0px 10px rgb(255, 0, 0);
  border: 1px solid rgb(255, 0, 0);
  display: flex;
  align-items: center;
  padding: 0.3rem 0.6rem 0.2rem 0.6rem;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Onest", sans-serif;
  font-weight: 600;
  color: white;
  transition: all 0.3s ease-in-out;
  backdrop-filter: blur(2px) saturate(180%);
  border-radius: 2rem;
  transition: all 0.3s ease;
  overflow: hidden;
  transition: padding 0.5s ease;
}

.stop-button::after {
  border-radius: 2rem;
  backdrop-filter: blur(1px);
  opacity: 0.6;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}

.stop-button:hover {
  background-color: rgba(255, 0, 0, 1);
  border: 1px solid rgba(255, 0, 0, 1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.stop-button-text {
  white-space: nowrap;

  opacity: 0;
  max-width: 0;
  transform: translateX(10px);

  transition:
    opacity 0.1s ease,
    max-width 0.3s ease,
    transform 0.3s ease;
}

.stop-button:hover {
  padding: 0.3rem 0.9rem 0.2rem 0.9rem;
}

.stop-button:hover .stop-button-text {
  opacity: 1;
  margin-right: 0.5rem;
  max-width: 70px;
  transform: translateX(0);
}

@media (max-width: 768px) {
  .IA-Conversation {
    left: 75dvw;
    bottom: 15dvh;
  }

  .stop-button {
    left: 75dvw;
    bottom: 15dvh;
  }

  .IA-Conversation:hover {
    padding: 0.3rem 0.6rem 0.2rem 0.6rem;
  }

  .IA-Conversation:hover .IA-Conversation-text {
    opacity: 0;
    margin-right: 0;
    max-width: 0;
    transform: translateX(0);
  }

  .stop-button:hover {
    padding: 0.3rem 0.6rem 0.2rem 0.6rem;
  }

  .stop-button:hover .stop-button-text {
    opacity: 0;
    margin-right: 0;
    max-width: 0;
    transform: translateX(0);
  }
}
