.info-button {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.6rem 0.2rem 0.6rem;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Onest", sans-serif;
  font-weight: 600;
  color: white;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0);
  backdrop-filter: blur(2px) saturate(180%);
  border-radius: 2rem;
  transition: all 0.3s ease;
  overflow: hidden;
  transition: padding 0.3s ease;
}

.info-button::after {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
  backdrop-filter: blur(1px);
  opacity: 0.6;
  z-index: -1;
  filter: blur(1px) drop-shadow(10px 4px 6px black) brightness(115%);
}

.info-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.info-button-text {
  white-space: nowrap;

  opacity: 0;
  max-width: 0;
  transform: translateX(10px);

  transition:
    opacity 0.1s ease,
    max-width 0.3s ease,
    transform 0.3s ease;
}

.info-button:hover {
  padding: 0.3rem 0.9rem 0.2rem 0.9rem;
}

.info-button:hover .info-button-text {
  opacity: 1;
  margin-right: 0.5rem;
  max-width: 40px;
  transform: translateX(0);
}

.info-container {
  position: fixed;
  left: 65dvw;
  top: 5dvh;
  padding: 1.5rem;
  width: 30dvw;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px) saturate(180%);
  border-radius: 20px;
  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.2),
    inset 0 4px 20px rgba(255, 255, 255, 0.3);
  color: white;
  transition: all 0.3s ease;
  animation: easeIn 0.5s ease;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10;
}

.info-title {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(10px) saturate(180%);
  border-radius: 20px;
  padding: 1rem;

  button {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button:hover {
    color: rgb(182, 182, 182);
  }
}

.info-content {
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    border-radius: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@keyframes easeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;

  .info-close {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-size: 1.2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  i {
    color: gold;
  }

  span {
    margin-left: 0.5rem;
  }
}

@media (max-width: 768px) {
  .info-container {
    width: 100dvw;
    height: 100dvh;

    left: 0;
    top: 0;
    border-radius: 0;
  }

  .info-button:hover {
    padding: 0.3rem 0.6rem 0.2rem 0.6rem;
  }

  .info-button:hover .info-button-text {
    opacity: 0;
    margin-right: 0;
    max-width: 0;
    transform: translateX(0);
  }
}
